$var_color: crimson;

ul {
		color: $var_color;
}

	
.nesting {
	color: green;
	
	ol {
		color: blue;
	}
	
}

%cell-style {
	font-family: Verdana;
	style: bold;
	font-size: 30;
	color: black;
}

.red_cell {
	@extend %cell-style;
	background-color: red;
}

.green_cell {
	@extend %cell-style;
	background-color: green;
}

.blue_cell {
	@extend %cell-style;
	background-color: blue;
}

.yellow_cell {
	@extend %cell-style;
	background-color: yellow;
}